STRINGTABLE
LANGUAGE LANG_ENGLISH,0
{

 LngBaseEnglish+rsImportForm "ImportForm\n"\
        "rbBinkD|BinkD (C) Dima Maloff\n"\
        "rbBinkPlus|Bink/+ (C) serge terekhov\n"\
        "rbTMail|T-Mail (C) Andy Elkin\n"\
        "rbXenia|Xenia (C) Arjen G. Lentz\n"\
        "bOK|OK\n"\
        "bCancel|Cancel\n"\
        "bHelp|Help\n"\
        "rbFrontDoor|FrontDoor 2.12 (C) Joaquim Homrighausen (passwords only)\n"\
        "rbMainDoor|MainDoor 1.10 (C) Francisco Sedano Crippa (passwords only)\n"

 LngBaseEnglish+rsAtomEditorForm "Edit Event Atom\n"\
        "llTyp|&Type\n"\
        "bOK|OK\n"\
        "bCancel|Cancel\n"\
        "bHelp|Help\n"

 LngBaseEnglish+rsMailerLineCfgForm "Mailer line configuration\n"\
        "bOK|OK\n"\
        "bCancel|Cancel\n"\
        "bHelp|Help\n"\
        "PageControl|General|Events\n"\
        "llStation|&Station\n"\
        "llName|Line &name\n"\
        "llPort|&Port\n"\
        "llModem|&Modem\n"\
        "llRestr|&Restrictions\n"\
        "llLog|&Log file\n"\
        "llFaxIn|&Fax inbound\n"\
        "labelAvl|&Available\n"\
        "labelLinked|&Linked\n"

 LngBaseEnglish+rsFreqCfgForm "File Request Configuration\n"\
        "bOK|OK\n"\
        "bCancel|Cancel\n"\
        "bHelp|Help\n"\
        "PageControl|General|Aliases\n"\
        "llSRIF|Standard Request Information File - External Processor\n"\
        "llGrid|Requested directories\n"\
        "cbRecursive|&Recursive paths\n"\
        "cbMasks|&Allow masks\n"\
        "cbDisable|&Disable all requests\n"\
        "cbSRIF|Use SRIF\n"\
        "llAls|Aliases\n"

 LngBaseEnglish+rsDeviceConfig "Port Configuration\n"\
        "lComPort|COM &Port\n"\
        "lRate|&BPS rate\n"\
        "llBits|Bits:\n"\
        "lBits|8N1\n"\
        "gFlow|&Flow control\n"\
        "cbCTS_RTS|CTS/&RTS\n"\
        "cbXon_Xoff|XOn/&XOff\n"\
        "bBits|&Change...\n"\
        "bOK|OK\n"\
        "bCancel|Cancel\n"\
        "bHelp|Help\n"

 LngBaseEnglish+rsFidoAddressInput "Input the address\n"\
        "bOK|OK\n"\
        "bCancel|Cancel\n"\
        "AddressBox|Address\n"\
        "bBrowse|Browse\n"

 LngBaseEnglish+rsNodelistCompiler "Compiling The Nodelist\n"\
        "llStatus|Status:\n"\
        "llNodes|Nodes compiled:\n"\
        "llNets|Nets compiled:\n"\
        "llPoints|Points compiled:\n"\
        "llCurFile|Current file:\n"\
        "bStop|Stop\n"

 LngBaseEnglish+rsLineBitsEditor "Line bits settings\n"\
        "cData|Data bits|&8|&7|&6|&5\n"\
        "cParity|Parity|&None|&Odd|&Even|&Mark|&Space\n"\
        "cStop|Stop bits|&1|1.5|&2\n"\
        "bOK|OK\n"\
        "bCancel|Cancel\n"\
        "bHelp|Help\n"

 LngBaseEnglish+rsModemEditor "Modem configuration\n"\
        "bOK|OK\n"\
        "bCancel|Cancel\n"\
        "bHelp|Help\n"\
        "pg|General|Responses|Flags|Fax\n"\
        "llName|&Name\n"\
        "llCmds|&Commands\n"\
        "gbIntFax|&Internal receiver settings\n"\
        "cbDTE|Switch DTE to 19.2 Kbps\n"\
        "gbExt|External Receiver settings\n"\
        "lExtR|&Command line\n"\
        "rgExt|Fax receiver|External|Internal\n"

 LngBaseEnglish+rsPathNamesForm "Path Names\n"\
        "llSpecial|&Special directories\n"\
        "llDefZone|Main AKA\n"\
        "gbHomeDir|&Home directory\n"\
        "bChangeHomeDir|&Change...\n"\
        "bBrowse|&Browse...\n"\
        "bOK|OK\n"\
        "bCancel|Cancel\n"\
        "bHelp|Help\n"

 LngBaseEnglish+rsNodeListCfgForm "Nodelist Configuration\n"\
        "bOK|OK\n"\
        "bCancel|Cancel\n"\
        "bHelp|Help\n"\
        "pg|Files|'Phones\n"

 LngBaseEnglish+rsPwdForm "Node Passwords\n"\
        "lAuxPwds|Auxiliary passwords file\n"\
        "bOK|OK\n"\
        "bCancel|Cancel\n"\
        "bHelp|Help\n"\
        "bImportPwd|Im&port...\n"\
        "bSort|&Sort\n"

 LngBaseEnglish+rsRestrictCfgForm "Dialing Restrictions Scheme\n"\
        "llName|Scheme name\n"\
        "bOK|OK\n"\
        "bCancel|Cancel\n"\
        "bHelp|Help\n"\
        "p|Required|Forbidden\n"\
        "bExplain|Explain...\n"

 LngBaseEnglish+rsMailerForm "MailerForm\n"\
        "lRXD|RXD\n"\
        "lTXD|TXD\n"\
        "lCTS|CTS\n"\
        "lDSR|DSR\n"\
        "lDCD|DCD\n"\
        "DaemonPI| Input\n"\
        "DaemonPIH| Input History\n"\
        "DaemonPO| Output\n"\
        "DaemonPOH| Output History\n"\
        "SndBox|Sending\n"\
        "llSndCPS|CPS\n"\
        "llSndSize|Size:\n"\
        "llFileSndTime|File time:\n"\
        "llTotalSndTime|Total time:\n"\
        "RcvBox|Receiving\n"\
        "llRcvCPS|CPS\n"\
        "llRcvSize|Size:\n"\
        "llFileRcvTime|File time:\n"\
        "llTotalRcvTime|Total time:\n"\
        "llSessionTime|Session time:\n"\
        "llSessionCost|Cost:\n"\
        "PollsListView|Node|Numbers|Owner|State|Busy|No c.|Fail|Type\n"\
        "BWListView|Filename|Temp Size|Full Size|From Node|Last Record\n"\
        "STListView|Line|State|Timer\n"\
        "EVListView|Event|Start|End\n"\
        "StatusBox| Status \n"\
        "GroupBox3| Status \n"\
        "CancelButton|Cancel\n"\
        "ConnectButton|Connect\n"\
        "OutMgrHeader|Outbound|Sysop name|Size|Type|On sent|Age\n"\
        "mSystem|&System\n"\
        "tExternal|External Tools\n"\
        "msOpenDialup|Dial-up Lines\n"\
        "mfRunIPDaemon|TCP/IP Daemon\n"\
        "mnuTerminal|Terminal\n"\
        "msInterfaceLanguage|Interface &Language\n"\
        "ilRomanian|Ro&manian\n"\
        "ilRussian|&Russian\n"\
        "ilMitky|Russian (Mitky)\n"\
        "ilEnglishUK|&English (UK)\n"\
        "ilGerman|&German\n"\
        "ilDutch|&Dutch\n"\
        "ilSpanish|&Spanish\n"\
        "mwCreateMirror|&Mirror \n"\
        "mwClose|&Close Window\n"\
        "mfExit|E&xit\n"\
        "mLine|&Line\n"\
        "mlAbortOperation|&Reset\n"\
        "mlAnswer|&Answer Call\n"\
        "mlSendMdmCmds|Send &Modem Commands\n"\
        "mlResetTimeout|&Flush Timeout\n"\
        "mlIncTimeout|Add to &Timeout\n"\
        "mlSkip|Skip File (receive &later)\n"\
        "mlRefuse|&Reject File\n"\
        "mlChat|Open Chat\n"\
        "mlClose|&Close\n"\
        "mPoll|&Poll\n"\
        "mpCreate|Create Crash Poll\n"\
        "mpNormalPoll|Create Normal Poll\n"\
        "mpDelete|&Delete\n"\
        "mpReset|&Reset\n"\
        "mpTrace|&Info\n"\
        "mpDeleteAll|Delete &All\n"\
        "mpProperties|Properties\n"\
        "mTool|&Tool\n"\
        "mtCompileNodelist|&Compile Nodelist\n"\
        "mtCompileNodelistInv|&Compile Nodelist\n"\
        "mtBrowseNodelist|&Browse Nodelist\n"\
        "mtBrowseNodelistAt|Browse Nodelist at...\n"\
        "mtEditFileRequest|Edit File &Request...\n"\
        "mtAttachFiles|Attach Files...\n"\
        "mtCreateFlag|Create a Flag...\n"\
        "mtOutSmartMenu|Outbound SmartMenu™\n"\
        "mtViewLogs|View Logs\n"\
        "mConfig|&Config\n"\
        "mcMasterPassword|&Master Password\n"\
        "mcMasterPwdCreate|Set Up...\n"\
        "mcMasterPwdChange|Change...\n"\
        "mcMasterPwdRemove|Remove...\n"\
        "mcStartup|&Start-up\n"\
        "mcPathnames|&Paths\n"\
        "mcNodelist|&Nodelist\n"\
        "mcPasswords|Pass&words\n"\
        "mcDialup|&Dial-up\n"\
        "mcDaemon|&TCP/IP Daemon\n"\
        "mcFileBoxes|File-&boxes\n"\
        "mcPolls|P&olls\n"\
        "maFileRequests|&File Requests\n"\
        "maExternals|E&xternals\n"\
        "maEvents|E&vents\n"\
        "maEncryptedLinks|&Encrypted Links\n"\
        "maNodes|Node &Inspector\n"\
        "mHelp|&Help\n"\
        "mhContents|Help &Topics\n"\
        "mhLanguage|Help &Language\n"\
        "hlRussian|&Russian\n"\
        "hlMitky|Russian (&Mitky)\n"\
        "hlEnglish|&English (UK)\n"\
        "mhHelp|Help on &Help\n"\
        "mnuWebSite|Web Site\n"\
        "mhAbout|&About\n"\
        "mnuClock|Clock\n"\
        "ppCreatePoll|&Create\n"\
        "ppTracePoll|&Info\n"\
        "ppResetPoll|&Reset\n"\
        "ppDeletePoll|&Delete\n"\
        "ppDeleteAllPolls|Delete &All\n"\
        "ppProperties|Properties\n"\
        "ompRescan|Rescan Outbound\n"\
        "ompCfCrash|Crash\n"\
        "ompCfDirect|Direct\n"\
        "ompCfNormal|Normal\n"\
        "ompCfHold|Hold\n"\
        "opmReaddress|Readdress\n"\
        "opmFinalize|Finalise\n"\
        "opmCrash|Change to Crash\n"\
        "opmDirect|Change to Direct\n"\
        "opmNormal|Change to Normal\n"\
        "opmHold|Change to Hold\n"\
        "opmUnlink|Unlink\n"\
        "opmPurge|Remove Broken Links\n"\
        "tpRestore|&Restore\n"\
        "tpMinimize|&Minimize\n"\
        "tpCreatePoll|Create Crash &Poll\n"\
        "tpCreateNormalPoll|Create Normal P&oll\n"\
        "tpEditFileRequest|Edit File Request\n"\
        "tpBrowseNodelist|&Browse Nodelist\n"\
        "tpExit|E&xit\n"\
        "tpCancel|Cancel\n"\
        "mpPause|Pa&use\n"\
        "ppPause|Pa&use\n"\
        "mfRestart|&Restart\n"\
        "llSessionCost|Cost:\n"\
        "llSessionTime|Total elapsed time\n"\
        "SessionBox|Session\n"\
        "llTotalAtInbound|Total at inbound:\n"\
        "llAvaibleAtInbound|     Available at inbound:   \n"\
        "mnuDelBWZ|Delete %s from BadWazoo\n"\
        "llOutboundSize|Outbound size:   \n"\
        "mnuTossBwz|Toss BadWazoo\n"\
        "mnuPrefEx|Preferences\n"

 LngBaseEnglish+rsAttachStatusForm "Attach Status\n"\
        "bAttach|Attach status|&Hold|&Normal|&Direct|&Crash|Crash && &Poll\n"\
        "bOK|OK\n"\
        "bCancel|Cancel\n"\
        "bHelp|Help\n"\
        "bOnSent|On sent|Nothing|Kill|Truncate\n"

 LngBaseEnglish+rsMainConfigForm "Dial-up Configuration\n"\
        "pg|Lines|Station|Ports|Modems|Restrictions|Nodes\n"\
        "lLines|Line name|Station template|Port|Modem\n"\
        "lStation|Template name|Station name|Address list\n"\
        "lPorts|Com port|BPS|Flow control|Line bits\n"\
        "lModems|Modem name\n"\
        "lRestrictions|Scheme name|Required|Forbidden\n"\
        "lAuxNodes|Auxiliary nodes file\n"\
        "bNew|&New\n"\
        "bEdit|&Edit\n"\
        "bCopy|&Copy\n"\
        "bDelete|Dele&te\n"\
        "bUndelete|&Undelete\n"\
        "bDefault|&Default\n"\
        "bOK|OK\n"\
        "bCancel|Cancel\n"\
        "bHelp|Help\n"\
        "bImport|&Import...\n"\
        "bSort|&Sort\n"\
        "bEditNode|&Edit\n"\
        "ppNew|&New\n"\
        "ppEdit|&Edit\n"\
        "ppCopy|&Copy\n"\
        "ppDelete|Dele&te\n"\
        "ppUndelete|&Undelete\n"\
        "ppDefault|&Default\n"

 LngBaseEnglish+rsStartupConfigForm "Start-up Configuration\n"\
        "gbLines|&Dial-up Lines\n"\
        "llManual|&Manual-open\n"\
        "llAuto|&Auto-open\n"\
        "cbDaemon|Auto-run &TCP/IP Daemon\n"\
        "bOK|OK\n"\
        "bCancel|Cancel\n"\
        "bHelp|Help\n"\
        "cbFastLog|&Fast logging\n"\
        "cbLogWZ|Log &WZ pending/incomplete\n"\
        "cbODBCLog|&ODBC logging\n"

 LngBaseEnglish+rsExternalsForm "Externals\n"\
        "bOK|OK\n"\
        "bCancel|Cancel\n"\
        "bHelp|Help\n"\
        "bImportPwd|Import...\n"\
        "Label1|Click here to test selected item ->\n"\
        "btRunNow|Run now\n"\
        "PageControl|Postprocessors|Flags|Doors|Cron|External Tools\n"


 LngBaseEnglish+rsEventsForm "Events Configuration\n"\
        "lv|Name|Cron|Duration|Atoms\n"\
        "bNew|&New\n"\
        "bEdit|&Edit\n"\
        "bCopy|&Copy\n"\
        "bDelete|Dele&te\n"\
        "bOK|OK\n"\
        "bCancel|Cancel\n"\
        "bHelp|Help\n"\
        "ppNew|&New\n"\
        "ppEdit|&Edit\n"\
        "ppCopy|&Copy\n"\
        "ppDelete|Dele&te\n"

 LngBaseEnglish+rsEvtEditForm "Edit Event\n"\
        "llName|&Name\n"\
        "llCron|&Cron\n"\
        "llAtoms|A&toms\n"\
        "llL|Duration\n"\
        "llD|&Days\n"\
        "llH|&Hours\n"\
        "llM|&Minutes\n"\
        "bOK|OK\n"\
        "bCancel|Cancel\n"\
        "bHelp|Help\n"\
        "bAddAtom|&Add\n"\
        "bDelete|De&lete\n"\
        "bEdit|&Edit\n"\
        "lb|Type|Parameters\n"\
        "cbPermanent|&Permanent\n"

 LngBaseEnglish+rsNodelistBrowser "Browse The Nodelist\n"\
        "llAddr|Address:\n"\
        "llStat|Station:\n"\
        "llSysop|SysOp:\n"\
        "llSite|Location:\n"\
        "llPhn|'Phone:\n"\
        "llSpd|Speed:\n"\
        "llFlags|Flags (PSTN):\n"\
        "llFlagsIP|Flags (IP):\n"\
        "llWrkTimeUTC|Time (UTC):\n"\
        "llWrkTimeLocal|Time (LOC):\n"\
        "llAddrSearch|&Address search:\n"\
        "bOK|OK\n"\
        "bCancel|Cancel\n"\
        "bHelp|Help\n"

 LngBaseEnglish+rsDisplayInfoForm "DisplayInfoForm\n"\
        "bOK|OK\n"

 LngBaseEnglish+rsEncryptedLinksForm "Encrypted Links\n"\
        "bAdd|Add\n"\
        "bRemove|Remove\n"\
        "bChange|Change\n"\
        "bClose|Close\n"\
        "bHelp|Help\n"\
        "bSort|Sort\n"

 LngBaseEnglish+rsFidoTemplateEditor "Edit station template\n"\
        "lTplName|Template name\n"\
        "bOK|OK\n"\
        "bCancel|Cancel\n"\
        "bHelp|Help\n"\
        "PageControl|EMSI|Banner|AKA\n"
        "cbGetFromFile|Get from file\n"

 LngBaseEnglish+rsFileBoxesForm "File-boxes Configuration\n"\
        "PageControl|Nodes|Options\n"\
        "lRoot|Root directory\n"\
        "bOK|OK\n"\
        "bCancel|Cancel\n"\
        "bHelp|Help\n"

 LngBaseEnglish+rsFReqDlg "Make/Edit File Request\n"\
        "bOK|OK\n"\
        "bCancel|Cancel\n"\
        "bHelp|Help\n"

 LngBaseEnglish+rsModemCmdForm "Send Modem Commands\n"\
        "lModemCommand|Modem Command\n"\
        "bSend|&Send\n"\
        "bClose|Close\n"

 LngBaseEnglish+rsNewPwdInputForm "NewPwdInputForm\n"\
        "lNew|New Password\n"\
        "lCfm|Confirm new password\n"\
        "bOK|OK\n"\
        "bCancel|Cancel\n"\
        "bHelp|Help\n"

 LngBaseEnglish+rsNodeWizzardForm "Node Inspector\n"\
        "bEditFileBox|Edit\n"\
        "lPsw|Password\n"\
        "lPostProc|Post-proc.\n"\
        "gbNodelist|Nodelist Information\n"\
        "llStat|Station:\n"\
        "llSysop|SysOp:\n"\
        "llSite|Location:\n"\
        "llPhn|'Phone:\n"\
        "llSpd|Speed:\n"\
        "llFlags|Flags:\n"\
        "llWrkTime|Working time:\n"\
        "gbNodeOvr|Node Overrides\n"\
        "lDupOvr|Dial-up\n"\
        "lIpOvr|TCP/IP\n"\
        "bEditDupOvr|Edit\n"\
        "bEditIpOvr|Edit\n"\
        "gbRest|Present in restrictions\n"\
        "lIpRest|TCP/IP\n"\
        "lDialRest|Dial-up\n"\
        "bEditDialRest|Edit\n"\
        "bEditIpRest|Edit\n"\
        "gbEncLink|Encrypted\n"\
        "bElSet|Set\n"\
        "bElChange|Change\n"\
        "bElRemove|Remove\n"\
        "gbAkas|Present in AKAs\n"\
        "lIpAKA|TCP/IP\n"\
        "lDialAKA|Dial-up\n"\
        "bEditDialAKA|Edit\n"\
        "bEditIpAka|Edit\n"\
        "gbFbox|File-box\n"\
        "lFboxIn|In\n"\
        "lFboxOut|Out\n"\
        "gbPoll|Poll\n"\
        "lPollPer|Periodical\n"\
        "lPollExt|External\n"\
        "gbCurNode|Current Node\n"\
        "bNewNode|New\n"\
        "bDeleteNode|Delete\n"\
        "gbAtoms|Present in Atoms\n"\
        "lAtoms|Events\n"\
        "bEditEvents|Edit\n"\
        "bOK|OK\n"\
        "bCancel|Cancel\n"\
        "bHelp|Help\n"

 LngBaseEnglish+rsOvrExplainForm "OvrExplainForm\n"\
        "bOK|OK\n"\
        "bCancel|Cancel\n"\
        "bHelp|Help\n"

 LngBaseEnglish+rsPollSetupForm "Polls Set-up\n"\
        "PageControl|Periodical|Options|External|Additional\n"\
        "gbTry|Try counters\n"\
        "lBusy|Busy\n"\
        "lNoC|No c.\n"\
        "lFail|Fail\n"\
        "gbTO|Time-outs\n"\
        "lRetry|Retry seconds\n"\
        "lCallMin|Call seconds\n"\
        "lStandOff|Stand-off minutes\n"\
        "Label1|Stand-off minutes\n"\
        "Label2|Stand-off minutes\n"\
        "cbBusy|Undialable\n"\
        "cbNoC|Undialable\n"\
        "cbFail|Undialable\n"\
        "cbTransmitHold|Transmit hold on outgoing\n"\
        "cbDirectAsNormal|Prevent 'Direct' from initiating a poll\n"\
        "bOK|OK\n"\
        "bCancel|Cancel\n"\
        "bHelp|Help\n"\
        "cbAskBeforeReject|Ask before reject\n"\
        "cbAskBeforeSkip|Ask before skip\n"\
        "cbRejectNextTic|Reject next '*.tic' after file reject\n"\
        "cbSkipNextTic|Skip next '*.tic' after file skip\n"

 LngBaseEnglish+rsSinglePasswordForm "Enter Taurus Password\n"\
        "bLogon|Log in\n"\
        "bCancel|Exit\n"

 LngBaseEnglish+rsStartWizzardForm "StartWizzardForm\n"\
        "Pages|Transport Type|Dialing Properties\n"\
        "gbConn|What connection do you use\n"\
        "cbDUP|Modem for direct dial-up FTS/FSC connections with destination nodes\n"\
        "cbIP|TCP/IP connections with destination nodes\n"\
        "gbDialProps|Dialing properties\n"\
        "lAreaCode|Area code\n"\
        "lLocalPrefix|To access an outside line, for local calls dial\n"\
        "lLongDistPrefix|To access an outside line, for long-distance calls dial\n"\
        "lComPort|COM &Port\n"\
        "rgTonePulse|Dial Using|Tone dial|Pulse dial\n"\
        "cbSetRestrict|Set restriction scheme to prevent from occasional long-distance call\n"\
        "bPrev|<<  &Previous\n"\
        "bNext|&Next  >>\n"\
        "bCancel|Cancel\n"

 LngBaseEnglish+rsIPcfgForm "TCP/IP Daemon  Configuration\n"\
        "bOK|OK\n"\
        "bCancel|Cancel\n"\
        "bHelp|Help\n"\
        "tb|General|Station|AKA|Banner|Restrictions|Events|DNS|Nodes|POP3|SMTP|NNTP|Black List\n"\
        "llInPorts|Incoming ports\n"\
        "llAssumeSpeed|BL counter\n"\
        "llSocksAddr|&Address\n"\
        "llSocksPort|&Port\n"\
        "llLimit|Connections\n"\
        "rgProxyType|Proxy type\n"\
        "llSocksAddr|Address\n"\
        "llSocksPort|Port\n"\
        "llPassword|Password\n"\
        "llUserName|Name\n"\
        "cbAuth|Authenticate\n"\
        "cbAllViaProxy|All via proxy\n"\
        "cbEncryptPassword|Encrypt password in config\n"\
        "llCin|&In\n"\
        "llCout|&Out\n"\
        "cbSOCKS|Use &SOCKS4 proxy for outgoing connections\n"\
        "p|Required|Forbidden\n"\
        "labelAvl|&Available\n"\
        "labelLinked|&Linked\n"\
        "lAuxNodes|Auxiliary nodes file\n"\
        "bImport|&Import...\n"\
        "bSort|&Sort\n"\
        "bEditNode|Edit\n"\
        "bExplain|Explain...\n"\
        "lNNTPImport|Files to import NEWS List from\n"\
        "gbCache|Cache:\n"\
        "lCache|NNTP cache size:\n"

 LngBaseEnglish+rsSetupForm "Taurus Setup\n"\
        "tvPages|Main|System|Interface|Colors|Tray|Logs|RCC|RAS DialUp|Protocols|Netmail|Tariff|Sounds|Paths\n"\
        "lblPageTitle|?\n"\
        "lOtherOptions| Other options \n"\
        "lCloseBtnActn|&Close button action:\n"\
        "lMinFreeSpace|Min free space:\n"\
        "lChat| Chat \n"\
        "lOther| Other \n"\
        "lOutboundOptions| Outbound \n"\
        "lPriority|Process priority\n"\
        "cbSessionOK|Create SESSION.OK\n"\
        "cbCreateSessionFail|Create SESSION.FAIL\n"\
        "cbUseSPACE|Use SPACE to flush timeout\n"\
        "cbPlaySounds|Play Sounds\n"\
        "cbFixedRetryTimeout|Fixed retry timeout\n"\
        "cbDynamicOutbound|Use Dynamic Outbound\n"\
        "cbScanMSG|Scan MSG areas\n"\
        "cbUnpackPKT|Unpack arrived PKTs\n"\
        "cbCloseBtnAction||Shutdown|Ask for Shutdown|Minimize to tray\n"\
        "cbChatEnabled|Chat Enabled\n"\
        "cbChatBell|Chat Bell:\n"\
        "cbD5Out|5D Outbound\n"\
        "cbIgnoreCD|Ignore CD\n"\
        "cbLamps|Lamps in tray\n"\
        "cbDynamicRouting|Use Dynamic Routing\n"\
        "lAddressOptions| Address options \n"\
        "lSynchClock|Synch clock with:\n"\
        "lMainAKA|Main address:\n"\
        "sbMainPrev|<< Prev\n"\
        "sbMainNext|Next >>\n"\
        "lSessionOptions| Session options \n"\
        "lSynchShift|Synch time shift:\n"\
        "lCPSMinBytes|CPS min bytes:\n"\
        "lCPSMinSecs|CPS min secs:\n"\
        "lPeriods| Periods and timeouts \n"\
        "lMsgsAutoClose|Msgs autoclose:\n"\
        "lOutbRescan|Outb. rescan:\n"\
        "lMaxBWZAge|Max BWZ age:\n"\
        "lMaxUDLAge|Max UDL age:\n"\
        "lMaxBsyAge|Max BSY age:\n"\
        "lSystemOptions| System options \n"\
        "lMutexName|Mutex name:\n"\
        "lActivateEventName|Activate Event Name:\n"\
        "lEMSICR|EMSI CR:\n"\
        "lWinSockVersion|Winsock version:\n"\
        "lPriority|Application priority:\n"\
        "lWatcherEventName|Watcher Event Name:\n"\
        "cbSimpleBSY|Simple BSY\n"\
        "cbCloseBWZ|Cloze BWZ\n"\
        "cbIncrementArcmail|Increment arcmail\n"\
        "cbForceFAXPage|Force fax page\n"\
        "cbIgnoreEndSession|Ignore end session\n"\
        "cbUseNodelistData|Use Nodelist Data\n"\
        "cbCompileNodelist|Auto compile nodelists\n"\
        "cbWinsockVersion||Winsock auto|Winsock v1|Winsock v2\n"\
        "cbDisableWinsockTraps|Disable Winsock traps\n"\
        "lLanguage| Language of \n"\
        "lHelpLanguage|Help\n"\
        "lInterfaceLanguage|Interface:\n"\
        "lGrid| Grid \n"\
        "lForms| Forms \n"\
        "lLogger| Logger \n"\
        "lOtherInterface| Other \n"\
        "cbHelpLanguage||English|Russian\n"\
        "cbInterfaceLanguage||English|Russian\n"\
        "cbGridBWZ|Grid lines in BadWaZoo\n"\
        "cbGridPV|Grid lines in Polls View\n"\
        "cbUseHTMLHelp|Use HTML help\n"\
        "bFormsFont|Font properties...\n"\
        "bLoggerFont|Font properties...\n"\
        "cbShowIcons|Show icons in MainMenu (needs restart)\n"\
        "lGaugeFore|Gauge fore\n"\
        "lColors| Colors \n"\
        "lGaugeBack|Gauge back\n"\
        "lLoggerFore|Logger fore\n"\
        "lLoggerBack|Logger back\n"\
        "lBadWazooFore|BadWaZoo fore\n"\
        "lBadWazooBack|BadWaZoo back\n"\
        "lMail7Fore|Mail 7 days old fore\n"\
        "lMail7Back|Mail 7 days old back\n"\
        "lMail14Back|Mail 14 days old back\n"\
        "lMail14Fore|Mail 14 days old fore\n"\
        "lMail21Back|Mail 21 days old back\n"\
        "lMail21Fore|Mail 21 days old fore\n"\
        "lMail28Back|Mail 28 days old back\n"\
        "lMail28Fore|Mail 28 days old fore\n"\
        "lTrayOptions| Options \n"\
        "lPopup|HotKey to popup from stealth mode\n"\
        "lBalloon| Balloon \n"\
        "cbAlwaysInTray|Always in tray\n"\
        "cbHide|Hide in tray at startup\n"\
        "cbStealth|Stealth mode\n"\
        "cbBalloon|Show balloon tooltip\n"\
        "cbBalloonMin|Show balloon tooltip when minimized\n"\
        "lTariffOptions| Options \n"\
        "lLogFNames| File Names \n"\
        "laccess_log|access_log:\n"\
        "lagent_log|agent_log:\n"\
        "lbinary_log|binary_log:\n"\
        "lpolls_log|polls.log:\n"\
        "lcronapps_log|cronapps.log:\n"\
        "ltariff_log|tariff.log:\n"\
        "lipdaemon_log|ipdaemon.log:\n"\
        "lras_log|ras.log:\n"\
        "cbTariff|Use tariffication log\n"\
        "cbTariffPerMinute|Tariffication per minute\n"\
        "cbODBCLogging|ODBC logging\n"\
        "cbLogThreadTimes|Log thread times\n"\
        "lRCC| Options \n"\
        "lRCCPwd| Password: \n"\
        "cbEnableRCC|Enable Remote Control Console\n"\
        "cbCryptRCCPwd|Crypt RCC password\n"\
        "lRasOptions| Options \n"\
        "lEntryList|Entry list:\n"\
        "cbEntryList||\n"\
        "btnReloadRASEntries|Reload entrylist\n"\
        "cbRASEnabled|Enable RAS\n"\
        "lTxWindow|TxWindow:\n"\
        "lHydra| Hydra \n"\
        "lBinkP| BinkP \n"\
        "lRxWindow|RxWindow:\n"\
        "cbShortName|Short and long name\n"\
        "cbOEMCharset|OEM charset\n"\
        "cbDebug|Debug\n"\
        "cbRequestCrypt|Request Crypt\n"\
        "cbIBNRequestList|Request File List\n"\
        "cbHydRequestList|Request File List\n"\
        "lHome|Home:\n"\
        "lPathTo| Path to: \n"\
        "lConfigs|Configs:\n"\
        "lFlags|File-flags:\n"\
        "lTempInbound|Temp inbound:\n"\
        "lSecureInbound|Secure inbound:\n"\
        "lInbound|Inbound:\n"\
        "lOutbound|Outbound:\n"\
        "lLogs|Logs:\n"\
        "lDynamicRoutingTable|Dynamic Routing Table:\n"\
        "btnHome|. . .\n"\
        "btnConfigs|. . .\n"\
        "btnFileFlags|. . .\n"\
        "btnTempInbound|. . .\n"\
        "btnSecureInbound|. . .\n"\
        "btnInbound|. . .\n"\
        "btnOutbound|. . .\n"\
        "btnLogs|. . .\n"\
        "btnHelp|Help\n"\
        "btnApply|Apply\n"\
        "btnCancel|Cancel\n"\
        "btnOK|OK\n"
}
